{% extends "base.html" %}
{% block title %}blog{% endblock %}

{% block content %}
  <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
  <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
  <a href="{% url 'blog:add' %}">add blog</a>
  <a href="{% url 'blog:download' %}">download excel</a>
  {% if user.is_authenticated %}
    <p>welcome {{ user.username }}.</p>
  {% endif %}  

  {% for blog in blogs %}
    <h2>{{ blog.id }} {{ blog.title }}</h2>
    <p>{{ blog.timestamp }}</p>
    <p>{{ blog.body }}</p>
    <p>{{ blog.owner.username }}</p>
    {% if user.username == blog.owner.username or user.is_superuser %}
      <a href="{% url 'blog:edit' blog.id %}">edit</a>
      <form method="post" action="{% url 'blog:delete' blog.id %}">
        {% csrf_token %}
        <input type="submit" value="delete">
      </form>
      <a href="{% url 'blog:delete' blog.id %}">delete</a> 
    {% endif %}
  {% endfor %}

  <div>
    <span> 

      {% if blogs.has_previous %}
        <a href="?page={{ blogs.previous_page_number }}">previous</a>
      {% endif %}
      
      <span>
        page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
      </span>
  
      {% if blogs.has_next %}
        <a href="?page={{ blogs.next_page_number }}">next</a>
      {% endif %}

    </span>
  </div>

{% endblock %}
