{% extends "base.html" %}
{% block title %}product{% endblock %}

{% block content %}
  <a href="{% url 'blog:product_add' %}">add product</a>

  {% for action in actions %}
    <div>
      {{ action.icon }} {{ action.message|safe }}<br/>
      <small>{{ action.user }} - {{ action.time|date:'SHORT_DATETIME_FORMAT' }}</small>
    </div>
  {% empty %}
    <div>
      Welcome to my demo!
    </div>
  {% endfor %}

  {% for product in products %}
    <h2>{{ product.id }} {{ product.name }}</h2>
    <p>{{ product.price }}</p>
    <p>{{ product.description }}</p>
    <a href="{% url 'blog:product_edit' product.id %}">edit</a>
    <form method="post" action="{% url 'blog:product_delete' product.id %}">
      {% csrf_token %}
      <input type="submit" value="delete">
    </form>
    <a href="{% url 'blog:product_delete' product.id %}">delete</a> 
  {% endfor %}

{% endblock %}
